@import '../styles/variables';
@import '../styles/fonts';

.left--light {
    color: $color-grey;

    &:not([disabled]):hover {
        color: $color-primary2;
    }
}

.left--dark {
    color: white;

    &:not([disabled]):hover {
        color: $color-primary2;
    }
}