@import '../styles/variables';
@import '../styles/fonts';

.theme--light {
    color: #000000;

    &:not([disabled]):hover {
        color: $color-primary2;
    }
}

.theme--dark {
    color: $color-background-primary;

    &:not([disabled]):hover {
        color: $color-primary2;
    }
}