@import '../styles/variables';
@import '../styles/fonts';

.book--light {
  max-width: 340px;
  margin: 10px;

  .book__main {
    display: flex;
    text-align: start;
    flex-wrap: wrap-reverse;
        .photo--middle {
            max-width: 352px;
          }
  }
  .book__info {
width: 100%; 
}



  .book__title {
    font-family: $font-family-headline;
    height: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-subline-1;
    line-height: 28px;
    color: $color-secondary;
    text-decoration: none;
    display: block;
    & h3 {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
    }  
  }


.book__title:hover {
  color: lightgray;
  cursor: pointer;
  text-decoration: none;
}
.book__price{
  font-family: $font-family-headline;
  margin-bottom: 10px;
}
.book__btn{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  .btn-favorite{
    border: none;
    background-color: white;
    transition: 0.4s;
    cursor: pointer;
  }
.btn-add {
    color: black;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background-color: lightgray;
      ;
    }
  }
}
  
.card__image{
  background-color: rgb(175, 175, 247);
  display: block;
  width: 100%;
  text-align: center;
  .btn-favorite {
      background: black;
      margin-left: 304px;
      display: block;
      &:hover {
        background: grey;
      }
    }
}
}

.book--dark {
  max-width: 340px;
  margin: 10px;

  .book__main {
    display: flex;
    text-align: start;
    flex-wrap: wrap-reverse;

    .photo--middle {
      max-width: 352px;
    }
  }

  .book__info {
    width: 100%;
  }



  .book__title {
    font-family: $font-family-headline;
    height: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-subline-1;
    line-height: 28px;
    color: white;
    text-decoration: none;
    display: block;

    & h3 {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
    }
  }


  .book__title:hover {
    color: lightgray;
    cursor: pointer;
    text-decoration: none;
  }

  .book__price {
    font-family: $font-family-headline;
    margin-bottom: 10px;
        color: white;
  }

  .book__btn {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

    .btn-favorite {
      border: none;
      background-color: white;
      transition: 0.4s;
      cursor: pointer;
    }

    .btn-add {
      color: white;
      border: none;
      border-radius: 5px;
      transition: 0.4s;
      cursor: pointer;
      background: grey;;
      &:hover {
        background-color: lightgray;
        ;
      }
    }
  }

  .card__image {
    background-color: grey;
    display: block;
    width: 100%;
    text-align: center;

    .btn-favorite {
      background: black;
      margin-left: 304px;
      display: block;

      &:hover {
        background: grey;
      }
    }
  }
}



.btn-card--btn-mark--true{
  background: $color-background-main;
  .bookmark--light, .bookmark--dark{
    color: red;
  }
}

.btn-card--btn-mark--false {
  background: $color-background-main;
}
