@import '../../styles/variables';
@import '../../styles/fonts';

.form-sign-up--light {
  max-width: 624px;
  margin: 120px auto;
  padding: 0 40px 40px 40px;
  border: 1px solid $color-background-primary2;
  border-radius: 2px;
  background-color: lightblue;
  .form__submit {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .submit__text {
      font-family: InterBold, sans-serif;
        user-select: none;
        font-weight: 500;
        font-size: $font-size-subline-1;
        line-height: 20px;
        margin-top: 20px;
        color: $color-background-primary;

      a {
        margin-left: 6px;
          color: $color-primary;

        &:hover {
          color: $color-primary2;
            cursor: point
        }
      }
    }
  }
}

.form-sign-up--dark {
  max-width: 624px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 40px 40px 40px;
  border: 1px solid $color-background-main;
  border-radius: 2px;

  .form__submit {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .submit__text {
      font-family: InterBold, sans-serif;
      user-select: none;
      font-weight: 500;
      font-size: $font-size-subline-1;
      line-height: 20px;
      margin-top: 20px;
      color: $color-background-primary;

      a {
        margin-left: 6px;
        color: $color-primary;

        &:hover {
          color: $color-primary2;
          cursor: point
        }
      }
    }
  }
}