@import '../styles/variables';
@import '../styles/fonts';
.header--light {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid black;
  background-color: white;
}
.header--dark {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid white;
  background: $color-secondary;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header__body {
  max-width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .header__logo{
    font-size:28px;
    margin: 0 20px;
  }
  .header__home--light{
    text-decoration: none;
    color: black;
  }
    .header__home--dark {
      text-decoration: none;
      color: white;
    }

  .search__form{
    display: none;
  }

    .showsearch__form {
      display: flex;
      width: 100%;
      height: 100%;
      .search__input{
        width: 100%;
        background-color: white;
        border: 1px solid black;
        border-right: none;
        margin: 15px 0;
        font-family: InterRegular, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: black;
          padding-left: 32px;
          &::placeholder{
                    font-family: InterRegular, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: black;
          }
      }
          .button__close {
              background-color: white;
              border: 1px solid black;
              border-left: none;
              margin: 15px 0;
              cursor: pointer;
            }
    }



    .header__button {
      display: block;
      padding: 7px;
      margin: 0;
      background-color: transparent;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgb(214, 214, 214);
      }
    }
  .header__navbar--light {
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 25px;
    margin-right: 20px;
    .user{
      width: 84px;
    }
    .initials{
      display: flex;
      width: 48px;
        height: 48px;
        background: #5360CD;
        border-radius: 2px;
        font-family: InterSemiBold, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 34px;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }
    .username{
              max-width: 100%;
              white-space: nowrap;
      font-family: InterSemiBold, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 34px;
        color: #FFFFFF;
        margin: 0 32px 0 18px;
    }
  }
    .header__navbar--dark {
      height: 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // gap: 25px;
      margin-right: 20px;
      svg{
        fill: white; 
      }
      
      .user {
        width: 84px;
      }
  
      .initials {
        display: flex;
        width: 48px;
        height: 48px;
        background: #5360CD;
        border-radius: 2px;
        font-family: InterSemiBold, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 34px;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
      }
  
      .username {
        max-width: 100%;
        white-space: nowrap;
        font-family: InterSemiBold, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 34px;
        color: #FFFFFF;
        margin: 0 32px 0 18px;
      }
    }
  
}


