@import '../../styles/variables';
@import '../../styles/fonts';

.form-resert-password--light {
  max-width: 624px;
  margin: 150px auto;
  // margin-top: 40px;
  padding: 0 40px 40px 40px;
  border: 1px solid $color-background-primary2;
  border-radius: 2px;
  background-color: lightblue;
  .form__submit {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
            .submit__text {
              display: none;
              font-family: InterRegular, sans-serif;
              user-select: none;
              font-weight: 500;
              font-size: $font-size-subline-1;
              line-height: 24px;
              margin-top: 20px;
              color: #313037;
              span {
                  // margin-left: 6px;
                  color: #313037;
                  font-weight: bold;
}
}
                        .showsubmit__text {
                          display: block;
                          font-family: InterRegular, sans-serif;
                          user-select: none;
                          font-weight: 500;
                          font-size: $font-size-subline-1;
                          line-height: 24px;
                          margin-top: 20px;
                          color: $color-secondary;
            
                          span {
                            color: $color-secondary;
                            font-weight: bold;
                          }
                        }
}

.form-resert-password--dark {
  max-width: 624px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 40px 40px 40px;
  border: 1px solid $color-background-main;
  border-radius: 2px;

  .form__submit {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .submit__text {
    display: none;
    font-family: InterRegular, sans-serif;
    user-select: none;
    font-weight: 500;
    font-size: $font-size-subline-1;
    line-height: 24px;
    margin-top: 20px;
    color: $color-white;

    span {
      // margin-left: 6px;
      color: $color-white;
      font-weight: bold;
    }
  }

  .showsubmit__text {
    display: block;
    font-family: InterRegular, sans-serif;
    user-select: none;
    font-weight: 500;
    font-size: $font-size-subline-1;
    line-height: 24px;
    margin-top: 20px;
    color: $color-white;

    span {
      color: $color-light;
      font-weight: bold;
    }
  }
}